name: continuous-integration

on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: linux-bionic-container-build
    runs-on: [ubuntu-latest]
    container: gassmoeller/rayleigh-buildenv-bionic

    steps:
    - uses: actions/checkout@v1
    - name: Build documentation
      # First make sure notebooks do not contain output, then build doc
      run: |
        cd "$GITHUB_WORKSPACE"
        make clear_ipynb && git diff --exit-code --name-only
        make doc
    - name: Build Rayleigh
      # First make sure notebooks do not contain output, then build doc
      run: |
        ./configure --with-blas='/usr' --with-fftw='/usr' --with-lapack='/usr'
        make fdeps && git diff --exit-code
        make -j
        make install
    - name: Test
      run: |
        # Set some environment variables necessary for OpenMPI
        # to run as root
        export OMPI_ALLOW_RUN_AS_ROOT=1
        export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1

        cd "$GITHUB_WORKSPACE"
        cd tests/c2001_case0

        mpirun -np 4 --oversubscribe --allow-run-as-root ../../bin/rayleigh.dbg

        cd ..
        git diff > changes.diff
        git diff --exit-code --name-only

  conda:
    name: conda-build
    runs-on: [ubuntu-latest]
    # Needs to be here to properly detect changes to conda
    # see https://github.com/conda-incubator/setup-miniconda#IMPORTANT
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: radev
        environment-file: environment.yml
    - name: Build documentation
      continue-on-error: true
      run: |
        cd "$GITHUB_WORKSPACE"
        make doc
    - name: Build Rayleigh
      run: |
        cd "$GITHUB_WORKSPACE"
        export MKLROOT=$CONDA_PREFIX
        ./configure -conda-mkl --FC=mpifort
        make -j
        make install
